<div class="panel-heading">
    <h4>Password reset panel</h4>
</div>
<div class="panel-body">
    In order to reset password, please put in your e-mail address.
    <form class="form-inline" ng-controller="resetPassController" ng-submit="sendPasswordMail()">
        <input type="email" class="form-control" ng-model="form.email" placeholder="Email address"/>
        <input type="hidden" ng-model="form.csrf" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <button class="btn btn-default" type="submit">Send</button>
    </form>

    <br><div id="response"></div>
    <div class="panel panel-danger" ng-show="error != null">
        <div id="warning" class="panel-heading" ng-show="error.cause != null"><br>{{error.cause}}</div>
        <div id="warningStatus" class="panel-heading" ng-show="error.message != null">Error</div>
        <div class="panel-body">
            {{error.message}}
        </div>
    </div>
</div>
