<div class="panel-heading">
    <h4>Reset password page</h4>
</div>
<div class="panel-body">
    <div ng-controller="resetPassPageController">
        <form ng-submit="resetPassword()">
            <table>
                <tr>
                    <td><input type="password" class="form-control" ng-model="newPassword.password" placeholder="New password"/></td>
                </tr>
                <tr>
                    <td><input type="password" class="form-control" ng-model="newPassword.passwordRetype" placeholder="Password retype"/>
                    </td>
                </tr>
                <tr>
                    <td><button class="btn btn-default" type="submit">Reset</button></td>
                </tr>
            </table>
        </form>

        <div ng-show="resetResponse != null">{{resetResponse.message}}</div>
        <div class="panel panel-danger" ng-show="resetError != null">
            <div id="warning" class="panel-heading" ng-show="resetError.cause != null"><br>{{resetError.cause}}</div>
            <div id="warningStatus" class="panel-heading" ng-show="resetError.message != null">Error</div>
            <div class="panel-body">
                {{resetError.message}}
            </div>
        </div>
    </div>
</div>