<div ng-controller="resetpasswordPageController">
    <form ng-submit="resetPassword()">
        <table>
            <tr>
                <td><input type="password" ng-model="newPassword.password" placeholder="New password" /></td>
            </tr>
            <tr>
                <td><input type="password" ng-model="newPassword.passwordRetype" placeholder="Password retype" /></td>
            </tr>
            <tr>
                <td><input type="button" type="submit" /></td>
            </tr>
        </table>
    </form>

    <div ng-show="resetResponse != null">{{resetResponse.status}}</div>
    <div class="panel panel-danger" ng-show="resetError != null">
        <div id="warning" class="panel-heading" ng-show="resetError.cause != null"><br>{{resetError.cause}}</div>
        <div id="warningStatus" class="panel-heading" ng-show="resetError.status != null">Error</div>
        <div class="panel-body">
            {{resetError.message}}
        </div>
    </div>
</div>