<div class="panel-heading">
    <h4>{{headingTitle}}</h4>
</div>
<div class="panel-body"  ng-controller = "stationsController">
    <div id="stationList" ng-show="map == null">
        It seems that the map of stations is currently unavailable. To rent or return a bike you can use this list instead.
        <p ng-repeat="stationTO in stationTOs" ng-if="$index >= 0">
            <a ui-sref=".station({id:stationTO.stationId})">{{stationTO.stationName}}</a>
        </p>
    </div>

    <div id="stationMap" ng-show="map != null"></div>
    <div id="class" ng-repeat="marker in stationMarkers" ng-if="$index >= 0">
        <a ng-click="openStationWindow($event, marker)"></a>
    </div>
    <div class="panel panel-danger" ng-show="error != null">
        <div id="warning" class="panel-heading" ng-show="error.cause != null"><br>{{error.cause}}</div>
        <div id="warningStatus" class="panel-heading" ng-show="error.message != null">Error</div>
        <div class="panel-body">
            {{error.message}}
        </div>
    </div>
    <div ui-view></div>

</div>