<div class="panel-heading">
    <h4 class="pull-left">{{headingTitle}}</h4>
    <div class="clearfix"></div>
</div>
<div class="panel-body" ng-show="userPanelTO != null">
    <div id="navRow" class="row">
        <a id="stations" class="col-sm-2 btn btn-success" ui-sref=".stations">See the stations</a>
        <a id="payments" class="col-sm-2 btn btn-success" ui-sref=".payments">Add funds</a>
    </div>
    <div class="clearfix"></div>
    Your current balance is: {{userPanelTO.userBalance}}
    <br>Last trip price: {{userPanelTO.paymentMoney}}
    <br>
    <div ng-if="userPanelTO.userBalance == 0">
        You have not enough money to rent a bike for a longer time!
    </div>
    <br>
    <div ng-show="userPanelTO.bikeId!=null">
        Currently you are renting bike number {{userPanelTO.bikeId}}.
        <br>
        <timer ng-show="serverTimeMillis != null" interval="1000" start-time="serverTimeMillis">
            {{hhours}} : {{mminutes}} : {{sseconds}}
        </timer>
    </div>

    <div class="panel panel-default" ui-view></div>
</div>
<div class="panel panel-danger" ng-show="error != null">
    <div id="warningStatus" class="panel-heading" ng-show="error.message != null">Error</div>
    <div class="panel-body">
        {{error.message}}
        <br><span ng-show="error.cause != null">{{error.cause}}</span>
    </div>
</div>
