<div class="panel-heading">
    <h4 class="panel-title pull-left">{{headingTitle}}</h4>
    <button ng-show="userPanelTO != null" class="btn btn-default pull-right" ng-click="logout()">Logout</button>
    <div class="clearfix"></div>
</div>
<div class="panel-body" ng-show="userPanelTO != null">
    <a href="#/userpanel">User panel</a>
    <br><a ui-sref=".stations">List of stations</a>
    <br><a ui-sref=".payments">Payment service</a>
    <br>
    <br>
    Your current balance is: {{userPanelTO.userBalance}}
    <br>Last trip price: {{userPanelTO.paymentMoney}}
    <br>
    <div ng-if="userPanelTO.userBalance == 0">
        You have not enough money to rent a bike for a longer time!
    </div>
    <br>
    <div ng-if="userPanelTO.bikeId!=null">
        Currently you are renting bike number {{userPanelTO.bikeId}}.
        <br>
        <timer interval="1000" start-time="serverTimeMillis">
            {{hhours}} : {{mminutes}} : {{sseconds}}
        </timer>
    </div>

    <div class="panel panel-default" ui-view></div>
</div>
<div class="panel panel-danger" ng-show="error != null">
    <div id="warning" class="panel-heading" ng-show="error.cause != null"><br>{{error.cause}}</div>
    <div id="warningStatus" class="panel-heading" ng-show="error.status != null">Error status {{error.status}}</div>
    <div class="panel-body">
        {{error.message}}
    </div>
</div>
