<div class="panel-heading">
    {{headingTitle}} <button class="btn btn-default pull-right" ng-click="logout()">Logout</button>
</div>
<div class="panel-body" ng-show="userPanelTO != null">
    <a href="#/userpanel">User panel</a>
    <br><a ui-sref=".stations">List of stations</a>
    <br><a ui-sref=".payments">Payment service</a>
    <br>
    <br>
    Your current balance is: {{userPanelTO.userBalance}}
    <br>Last trip price: {{userPanelTO.paymentMoney}}
    <br>
    <div ng-if="userPanelTO.userBalance == 0">
        You have not enough money to rent a bike for a longer time!
    </div>
    <br>
    <div ng-if="userPanelTO.bikeId!=null">
        Currently you are renting bike number {{userPanelTO.bikeId}}.
        <br>
        <!--<div id="timer" ng-show="userPanelTO.serverSeconds != null" timer="{{userPanelTO.serverSeconds}}"></div>-->
    </div>

    <div class="panel panel-default" ui-view></div>
</div>
<div ng-show="error != null">
    <div ng-show="error.cause != null"><br>{{error.cause}}<br>{{error.message}}</div>
    <div ng-show="error.status != null">Error status {{error.status}} <br>{{error.message}}</div>
</div>
