<div class="section" ng-controller="priceIntController">
    <h4>{{addStationHeader}}</h4>
    <form ng-submit="addPriceInterval()">
        <table>
            <tr>
                <td>End:</td>
                <td><input type="text" ng-model="addPriceInt.end" placeholder="{{priceIntervalTO.end}}"/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" ng-model="addPriceInt.price" placeholder="{{priceIntervalTO.price}}"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="panel panel-danger" ng-show="addPriceError != null">
        <div id="warning" class="panel-heading" ng-show="addPriceError.cause != null"><br>{{addPriceError.cause}}</div>
        <div id="warningStatus" class="panel-heading" ng-show="addPriceError.status != null">Error</div>
        <div class="panel-body">
            {{addPriceError.message}}
        </div>
    </div>
</div>