<div class="section" ng-controller="stationAdminController">
    <h4>{{addStationHeader}}</h4>
    <form ng-submit="addStation()">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" ng-model="addstation.name" name="name"/></td>
            </tr>
            <tr>
                <td>Type:</td>
                <td><input type="text" ng-model="addstation.type" name="type"/></td>
            </tr>
            <tr>
                <td>Address:</td>
                <td><input type="text" ng-model="addstation.address" name="address"/></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" ng-model="addstation.city" name="city"/></td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
    <div ng-show="addStationError != null">Error status {{addStationError.status}} <br>{{addStationError.message}}</div>
</div>