<div class="panel-heading">
    CBRS administration panel <button class="btn btn-default pull-right" ng-click="logout()">Logout</button>
</div>
<div class="panel-body">
    <a ui-sref=".bikeadmin">Manage bikes</a>
    <br><a ui-sref=".stationadmin">Manage stations</a>
    <br><a ui-sref=".priceintervaladmin">Manage price intervals</a>
    <br><a ui-sref=".statistics">Look up system statistics</a>

    <div class="panel panel-default" ui-view></div>

</div>
<div ng-show="error != null">
    <div ng-show="error.cause != null"><br>{{error.cause}}<br>{{error.message}}</div>
    <div ng-show="error.status != null">Error status {{error.status}} <br>{{error.message}}</div>
</div>

<!--<div ng-view></div>-->