<div class="panel-heading">
    <h4 class="pull-left">CBRS administration panel</h4>
    <div class="clearfix"></div>
</div>
<div class="panel-body">
    <a ui-sref=".bikeadmin">Manage bikes</a>
    <br><a ui-sref=".stationadmin">Manage stations</a>
    <br><a ui-sref=".priceintervaladmin">Manage price intervals</a>

    <div class="panel panel-default" ui-view></div>

</div>
<div class="panel panel-danger" ng-show="error != null">
    <div id="warningStatus" class="panel-heading" ng-show="error.message != null">Error</div>
    <div class="panel-body">
        {{error.message}}
        <br><span ng-show="error.cause != null">{{error.cause}}</span>
    </div>
</div>