<div class="panel-heading">
    <h4>{{header}}</h4>
</div>
<div class="panel-body" ng-controller="bikeAdminController">
    <table class="table table-hover table-compact">
        <tr>
            <th>No</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr ng-repeat="bikeTO in bikeTOs" ng-if="$index >= 0">
            <td>{{bikeTO.bikeId}}</td>
            <td><a ui-sref=".editbike({id:bikeTO.bikeId})">Edit</a></td>
            <td>
                <button ng-click="deleteBike(bikeTO.bikeId)">Delete</button>
            </td>
        </tr>
    </table>

    <br>
    <button class="btn btn-default" ng-click="addBike()">Add bike</button>

    <div ng-show="error != null">Error status {{error.status}} <br>{{error.message}}</div>
    <div ui-view></div>
</div>

