<div class="panel-heading">
    <h4>{{header}}</h4>
</div>
<div class="panel-body" ng-controller="bikeAdminController">
    <table class="table table-hover table-compact">
        <tr>
            <th>No</th>
            <th>Type</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr ng-repeat="bikeTO in bikeTOs" ng-if="$index >= 0">
            <td>{{bikeTO.bikeId}}</td>
            <td>{{bikeTO.type}}</td>
            <td><a ui-sref=".editbike({id:bikeTO.bikeId})">Edit</a></td>
            <td>
                <button ng-click="deleteBike(bikeTO.bikeId)">Delete</button>
            </td>
        </tr>
    </table>

    <br>
    <button class="btn btn-default" ng-click="addBike()">Add bike</button>

    <div class="panel panel-danger" ng-show="error != null">
        <div id="warningStatus" class="panel-heading" ng-show="error.message != null">Error</div>
        <div class="panel-body">
            {{error.message}}
            <br><span ng-show="error.cause != null">{{error.cause}}</span>
        </div>
    </div>
    <div ui-view></div>
</div>

