<div class="section" ng-controller="editPriceIntController">
    <h4>{{editPriceIntervalHeader}}</h4>
    <form novalidate ng-submit="updatePriceInterval()">
        <table>
            <input type="hidden" ng-model="editPriceInt.intervalId"/>
            <tr>
                <td>End:</td>
                <td><input type="text" ng-model="editPriceInt.end" /></td>
                <td ng-show="fieldErrors.end != null">
                    <span class="bg-danger">{{fieldErrors.end.message}}</span>
                </td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" ng-model="editPriceInt.price" /></td>
                <td ng-show="fieldErrors.price != null">
                    <span class="bg-danger">{{fieldErrors.price.message}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="panel panel-danger" ng-show="updatePriceError != null">
        <div id="warning" class="panel-heading" ng-show="updatePriceError.cause != null"><br>{{updatePriceError.cause}}</div>
        <div id="warningStatus" class="panel-heading" ng-show="updatePriceError.message != null">Error</div>
        <div class="panel-body">
            {{updatePriceError.message}}
        </div>
    </div>
</div>