<div class="section" ng-controller="editBikeController">
    <h4>{{header}}</h4>

    <div ng-show="editBikeTO.slotTO.slotId != null">This bike is currently in slot {{editBikeTO.slotTO.slotId}}</div>
    <form ng-submit="saveChanges()">
        <table>
            <tr>
                <td>Type:</td>
                <td><input type="text" ng-model="editbike.type" name="type"/></td>
            </tr>
            <tr>
                <td>Slot:</td>
                <td><select ng-model="editbike.slotId">
                    <optgroup ng-repeat="stationTO in editBikeTO.stationTOs" ng-if="$index >= 0" label="{{stationTO.stationName}}">
                        <option ng-repeat="slotTO in stationTO.slotTOs" ng-if="$index >= 0" ng-value="slotTO.slotId">slot {{slotTO.slotId}}
                        </option>
                    </optgroup>
                    <option ng-model="editbike.id" value="" >No slot</option>
                </select></td>
                <input type="hidden" ng-model="editbike.id" ng-value="slotTO.bikeId"/>
            </tr>
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="panel panel-danger" ng-show="editBikeError != null">
        <div id="warning" class="panel-heading" ng-show="editBikeError.cause != null"><br>{{editBikeError.cause}}</div>
        <div id="warningStatus" class="panel-heading" ng-show="editBikeError.message != null">Error</div>
        <div class="panel-body">
            {{editBikeError.message}}
        </div>
    </div>
</div>
