<div class="section" ng-controller="editStationController">
    <h4>{{header}} - {{stationTO.stationName}}</h4>

    <form ng-submit="saveChanges()">
        <table>
            <tr>
                <td>Name: </td>
                <td><input type="text" ng-model="editstation.name" /></td>
                <td ng-show="fieldErrors.name != null">
                    <span class="bg-danger">{{fieldErrors.name.message}}</span>
                </td>
            </tr>
            <tr>
                <td>Address: </td>
                <td><input type="text" ng-model="editstation.address" /></td>
                <td ng-show="fieldErrors.address != null">
                    <span class="bg-danger">{{fieldErrors.address.message}}</span>
                </td>
            </tr>
            <tr>
                <td>City: </td>
                <td><input type="text" ng-model="editstation.city" /></td>
                <td ng-show="fieldErrors.city != null">
                    <span class="bg-danger">{{fieldErrors.city.message}}</span>
                </td>
            </tr>
            <tr>
                <td>Latitude: </td>
                <td><input type="text" ng-model="editstation.latitude" /></td>
            </tr>
            <tr>
                <td>Longitude: </td>
                <td><input type="text" ng-model="editstation.longitude" /></td>
            </tr>
            <input type="hidden" ng-model="editstation.id" />
            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
    <div class="panel panel-danger" ng-show="editStationError != null">
        <div id="warning" class="panel-heading" ng-show="editStationError.cause != null"><br>{{editStationError.cause}}</div>
        <div id="warningStatus" class="panel-heading" ng-show="editStationError.message != null">Error</div>
        <div class="panel-body">
            {{editStationError.message}}
        </div>
    </div>
    <div ng-show="serverResponse != null"><br>{{serverResponse}}</div>
    <br>Slots on the station:
    <div ng-show="stationTO.slotTOs == null"><br>There are no slots on this station!</div>
    <table border="1px solid" style="border-spacing: 1px">
        <tr><th>No</th><th>State</th><th>Action</th></tr>
        <tr ng-repeat="slotTO in stationTO.slotTOs" ng-if="$index >= 0">
            <td>{{slotTO.slotId}}</td>
            <td ng-show="slotTO.bikeId != null">Bike - {{slotTO.bikeId}}</td>
            <td ng-show="slotTO.bikeId == null">empty</td>
            <td><button ng-click="deleteSlot(slotTO.slotId)">Delete</button></td>
        </tr>
    </table>

    <br><button ng-click="addSlot()">Add slot</button>
</div>