<div class="panel-heading">
    <h4>{{header}}</h4>
</div>
<div class="panel-body" ng-controller="priceIntController">
    <table class="table table-hover table-compact">
        <tr>
            <th>End</th>
            <th>Price</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr ng-repeat="priceIntervalTO in priceIntervalTOs" ng-if="$index >= 0">
            <td>{{priceIntervalTO.end}}</td>
            <td>{{priceIntervalTO.price}}</td>
            <td><a ui-sref=".editpriceinterval({id:priceIntervalTO.id})">Edit</a></td>
            <td>
                <button ng-show="priceIntervalTO.end != null" ng-click="deletePriceInterval(priceIntervalTO.id)">Delete</button>
            </td>
        </tr>
    </table>

    <br><a ui-sref=".addpriceinterval">Add price interval</a>
    <div class="panel panel-danger" ng-show="error != null">
        <div id="warningStatus" class="panel-heading" ng-show="error.message != null">Error</div>
        <div class="panel-body">
            {{error.message}}
            <br><span ng-show="error.cause != null">{{error.cause}}</span>
        </div>
    </div>
    <div ui-view></div>
</div>
