<div class="panel-heading">
    <h4>{{header}}</h4>
</div>
<div class="panel-body" ng-controller="stationAdminController">
    <table class="table table-hover table-compact">
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr ng-repeat="stationTO in stationTOs" ng-if="$index >= 0">
            <td>{{stationTO.stationId}}</td>
            <td>{{stationTO.stationName}}</td>
            <td>{{stationTO.stationAddress}}</td>
            <td>{{stationTO.stationCity}}</td>
            <td><a ui-sref=".editstation({id:stationTO.stationId})">Edit</a></td>
            <td>
                <button ng-click="deleteStation(stationTO.stationId)">Delete</button>
            </td>
        </tr>
    </table>
    <br><a ui-sref=".addstation">Add station</a>
    <div class="panel panel-danger" ng-show="error != null">
        <div id="warningStatus" class="panel-heading" ng-show="error.message != null">Error</div>
        <div class="panel-body">
            {{error.message}}
            <br><span ng-show="error.cause != null">{{error.cause}}</span>
        </div>
    </div>
    <div ui-view></div>

</div>
